<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShipmentReconciliation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <ShipmentReconciliation.Properties.Settings>
            <setting name="GenerateData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderSearchSubs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FolderSearchPatternCustomerOrders" serializeAs="String">
                <value>*CustomerOrders*.csv</value>
            </setting>
            <setting name="FolderSearchPatternFactoryShipment" serializeAs="String">
                <value>*FactoryShipment*.csv</value>
            </setting>
            <setting name="FilePathCustomerOrders" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePathFactoryShipment" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateDataMaxNumberOfProducts" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="GenerateDataMaxNumberOfOrders" serializeAs="String">
                <value>150000</value>
            </setting>
            <setting name="GenerateDataMaxNumberOfCustomers" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="GenerateDataMaxQuantityPerOrder" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="GenerateDataMaxQuantityPerProduct" serializeAs="String">
                <value>10000</value>
            </setting>
        </ShipmentReconciliation.Properties.Settings>
    </userSettings>
</configuration>